<ion-header>
  <ion-toolbar>
    <ion-title>Editar Anuncio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea formControlName="mensaje" autoGrow="true"></ion-textarea>
    </ion-item>

    <ion-button expand="block" (click)="guardar()" [disabled]="form.invalid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>
