.boton-flecha {
    padding: 0;
    min-width: auto;
    height: auto;
  
    svg {
      display: block;
      width: 24px;
      height: 24px;
    }
  
    ion-ripple-effect {
      display: none; // elimina el efecto de onda
    }
  }
  
  .input-area {
    align-items: center;
  }
  
  .btn-enviar {
    margin-left: 8px;
    width: 48px;
    height: 48px;
  }
  