<ion-header>
  <ion-toolbar>
    <ion-button (click)="goBack()" fill="clear" class="boton-flecha">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24" viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M19 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H19v-2z" fill="white"/>
      </svg>
    </ion-button>
    
    
    <ion-title>Chat Libre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let msg of mensajes">
      <ion-label>
        <strong>{{ msg.autor }}</strong>
        <p>{{ msg.texto }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input placeholder="Escribe tu mensaje..." [(ngModel)]="mensajeNuevo"></ion-input>
      <ion-button slot="end" (click)="enviarMensaje()" fill="clear">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>