<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat Libre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding chat-container">
  <div *ngFor="let msg of mensajes" 
       [class.message-sent]="msg.autor === 'Tú'"
       [class.message-received]="msg.autor !== 'Tú'" 
       class="message-bubble">
    <div class="message-author">{{ msg.autor }}</div>
    <div class="message-text">{{ msg.texto }}</div>
    <div class="message-time">{{ formatearHora(msg.hora) }}</div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="input-container">
      <ion-input
        [(ngModel)]="mensajeNuevo"
        placeholder="Escribe tu mensaje..."
        class="input-mensaje"
        (keyup.enter)="enviarMensaje()"
      ></ion-input>

      <ion-button 
        (click)="enviarMensaje()" 
        class="btn-enviar"
        fill="solid" 
        shape="round"
      >
        <svg slot="icon-only" viewBox="0 0 24 24" class="send-icon">
          <path fill="currentColor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
        </svg>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>