<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-avatar class="ion-margin-auto">
        <img [src]="'https://ui-avatars.com/api/?name=' + usuario.nombre">
      </ion-avatar>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <h2>{{ usuario.nombre }}</h2>
      <p><strong>Correo:</strong> {{ usuario.correo }}</p>
      <p><strong>Rol:</strong> {{ usuario.rol | uppercase }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
