.boton-cerrar {
    padding: 0;
    min-width: auto;
    height: auto;
  
    svg {
      width: 24px;
      height: 24px;
      display: block;
    }
  
    ion-ripple-effect {
      display: none;
    }
  }
  .comentario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fecha-comentario {
    font-size: 12px;
    color: gray;
    white-space: nowrap;
  }

  
  