<ion-header>
  <ion-toolbar>
    <ion-title>Comentarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()" fill="clear" class="boton-cerrar">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7a1 1 0 0 0-1.41 1.41L10.59 12l-4.89 4.89a1 1 0 1 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 0 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4z" fill="white"/>
        </svg>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let c of comentarios">
      <ion-label>
        <strong>{{ c.autor }}:</strong>
        <p>{{ c.texto }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        placeholder="Escribe un comentario..."
        [(ngModel)]="comentarioNuevo"
        (keyup.enter)="enviarComentario()"
      ></ion-input>

      <ion-fab-button 
        (click)="enviarComentario()" 
        size="small" 
        color="primary"
      >
        <ion-icon name="send-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
