<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="cerrar()"></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding comentarios-container">
  <ion-list>
    <ion-item *ngFor="let c of comentarios" lines="none" class="comentario-item">
      <ion-label>
        <div class="comentario-header">
          <strong>{{ c.autor }}</strong>
          <span class="fecha-comentario" *ngIf="c.fecha">
            {{ c.fecha | date: 'shortTime' }} - {{ c.fecha | date: 'dd/MM' }}
          </span>
        </div>
        <p>{{ c.texto }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="input-container">
      <ion-input
        [(ngModel)]="nuevoComentario"
        placeholder="Escribe un comentario..."
        class="input-mensaje"
        (keyup.enter)="agregarComentario()"
      ></ion-input>

      <ion-button 
        (click)="agregarComentario()" 
        class="btn-enviar"
        fill="solid" 
        shape="round"
      >
        <svg slot="icon-only" viewBox="0 0 24 24" class="send-icon">
          <path fill="currentColor" d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
        </svg>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
