<ion-header>
  <ion-toolbar>
    <ion-title>CondAPP</ion-title>
  </ion-toolbar>

  <ng-container *ngIf="rol === 'usuario'">
    <ion-segment [(ngModel)]="segmento">
      <ion-segment-button value="anuncios">
        <ion-label>Anuncios</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mercado">
        <ion-label>Mercado</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reclamos">
        <ion-label>Reclamos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-container>

  <ng-container *ngIf="rol === 'admin'">
    <ion-segment [(ngModel)]="segmento">
      <ion-segment-button value="anuncios">
        <ion-label>Anuncios</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mercado">
        <ion-label>Mercado</ion-label>
      </ion-segment-button>
      <ion-segment-button value="reclamos">
        <ion-label>Reclamos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <ion-label>Administrar</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-container>

</ion-header>

<ion-popover trigger="perfilBtn" triggerAction="click" size="auto">
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button (click)="modificarPerfil()">
        <ion-icon name="create-outline" slot="start"></ion-icon>
        <ion-label>Modificar perfil</ion-label>
      </ion-item>
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover>

<ion-content class="ion-padding">

  <!-- ANUNCIOS -->
  <ng-container *ngIf="segmento === 'anuncios'">
    <ng-container *ngIf="anuncios$ | async as anuncios">
      <ion-card *ngFor="let anuncio of anuncios" class="anuncio-card">
        <ion-card-content class="ion-text-right" *ngIf="rol === 'admin'">
          <ion-button fill="clear" color="warning" size="small" (click)="editarAnuncio(anuncio)">
            <i class="bi bi-pencil-fill"></i>
          </ion-button>

          <ion-button fill="clear" color="danger" size="small" (click)="eliminarAnuncio(anuncio.id)">
            <i class="bi bi-trash3-fill"></i>
          </ion-button>


        </ion-card-content>

        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="anuncio.avatarUrl" alt="Avatar de {{ anuncio.autor }}" />
            </ion-avatar>
            <ion-label>
              <h3>{{ anuncio.autor }} - {{ anuncio.rol }}</h3>
              <p>{{ anuncio.casa }} · {{ anuncio.fecha | date:'shortDate' }}</p>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <h2 class="titulo-anuncio">{{ anuncio.titulo }}</h2>
          <div class="mensaje-dinamico">
            {{ anuncio.mensaje }}
          </div>
        </ion-card-content>


        <ion-card-content class="ion-text-right botones-acciones">
          <ion-button fill="clear" size="small" (click)="onComentar('anuncio', anuncio)">
            <i class="bi bi-chat"></i>
          </ion-button>
          <ion-button fill="clear" size="small" (click)="onLike('anuncio', anuncio)">
            <i class="bi bi-heart"></i>
            <span style="margin-left: 4px;">{{ anuncio.likes || 0 }}</span>
          </ion-button>
          <ion-button fill="clear" size="small" (click)="onCompartir('anuncio', anuncio)">
            <i class="bi bi-share"></i>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ng-container>


  <!-- MERCADO -->
  <ng-container *ngIf="segmento === 'mercado'">
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" (click)="irCrearProducto()" *ngIf="rol === 'usuario'">
          Publicar producto
        </ion-button>
      </ion-col>
    </ion-row>
    <ng-container *ngIf="productos$ | async as productos">
      <ion-card *ngFor="let producto of productos" class="producto-card">
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="producto.avatarUrl" alt="Avatar de {{ producto.usuario }}" />
            </ion-avatar>
            <ion-label>
              <h3>{{ producto.usuario }}</h3>
              <p>{{ producto.casa }} · {{ producto.fecha | date:'shortDate' }}</p>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <!-- CONTENIDO HORIZONTAL -->
        <ion-card-content class="producto-horizontal">
          <img [src]="producto.imagenUrl" alt="Imagen del producto"
            (click)="abrirImagen(producto.imagenUrl)" class="click-animada" />
          <div class="producto-info">
            <h2>{{ producto.nombre }}</h2>
            <p>{{ producto.descripcion }}</p>
            <p *ngIf="producto.precio">Precio: {{ producto.precio }}</p>
            <p *ngIf="producto.categoria">Categoría: {{ producto.categoria }}</p>
          </div>
        </ion-card-content>

        <ion-card-content class="ion-text-right botones-acciones">
          <ion-button fill="clear" size="small" (click)="onComentar('producto', producto)">
            <i class="bi bi-chat"></i>
          </ion-button>
          <ion-button fill="clear" size="small" (click)="onLike('producto', producto)">
            <i class="bi bi-heart"></i>
            <span style="margin-left: 4px;">{{ producto.likes || 0 }}</span>
          </ion-button>
          <ion-button fill="clear" color="danger" size="small" (click)="eliminarProducto(producto)" *ngIf="rol === 'admin' || producto.uid === authService.getUID()">
            <i class="bi bi-trash3-fill"></i>
          </ion-button>
        </ion-card-content>

        <ion-card-content class="ion-text-right">
          <ng-container *ngIf="producto.whatsapp; else noWhatsapp">
            <ion-button
              fill="outline"
              color="success"
              size="small"
              [href]="'https://wa.me/' + producto.whatsapp + '?text=' + encodeURI('¡Hola! Estoy interesad@ en ' + producto.nombre + ' que publicaste en la aplicación CondAPP. Quisiera saber más información.')"
              target="_blank"
            >
              <img src="assets/img/whatsapp-svgrepo-com.svg" alt="WhatsApp" class="icono-whatsapp" />
              Contactar
            </ion-button>
          </ng-container>
          <ng-template #noWhatsapp>
            <ion-button
              fill="outline"
              color="warning"
              size="small"
              disabled
            >
              <img src="assets/img/whatsapp-svgrepo-com.svg" alt="WhatsApp" class="icono-whatsapp" />
              WhatsApp no disponible
            </ion-button>
          </ng-template>
        </ion-card-content>
      </ion-card>
    </ng-container>

    <div class="imagen-modal" *ngIf="imagenSeleccionada" (click)="cerrarImagen()">
      <img [src]="imagenSeleccionada" class="zoom-in" alt="Imagen ampliada" />
    </div>
  </ng-container>
  


  <!-- RECLAMOS -->
  <ng-container *ngIf="segmento === 'reclamos'">
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" color="primary" (click)="irCrearReclamo()" *ngIf="rol === 'usuario'">
          Crear reclamo
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" color="warning" (click)="irGestionarMisReclamos()" *ngIf="rol === 'usuario'">
          Gestionar Mis Reclamos
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-card *ngFor="let reclamo of reclamos">
        <ion-card-header>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img [src]="reclamo.avatarUrl" alt="Avatar de {{ reclamo.autor }}" />
            </ion-avatar>
            <ion-label>
              <h3>{{ reclamo.autor }}</h3>
              <p>{{ reclamo.casa }} · {{ reclamo.fecha }}</p>
            </ion-label>
          </ion-item>
        </ion-card-header>

        <ion-card-content>
          <p style="white-space: pre-wrap;">{{ reclamo.mensaje }}</p>
          <p><strong>Estado:</strong> {{ reclamo.estado | uppercase }}</p>
        </ion-card-content>

        <ion-card-content class="ion-text-right">
          <ion-button fill="clear" size="small">
            <ion-icon name="flag-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-card-content>

        <ion-card-content class="ion-text-right">
          <ion-button fill="clear" size="small" (click)="onComentar('reclamo', reclamo)">
            <i class="bi bi-chat"></i>
          </ion-button>
          <ion-button fill="clear" size="small" (click)="onLike('reclamo', reclamo)">
            <i class="bi bi-heart"></i>
            <span style="margin-left: 4px;">{{ reclamo.likes || 0 }}</span>
          </ion-button>
          <ion-button fill="clear" size="small" (click)="onCompartir('reclamo', reclamo)">
            <i class="bi bi-share"></i>
          </ion-button>
        </ion-card-content>


      </ion-card>
    </ion-list>

  </ng-container>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" class="fab-chat" (click)="abrirChatLibre()">
      <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 512 512">
        <path fill="white"
          d="M408 96H104c-13.3 0-24 10.7-24 24v192c0 13.3 10.7 24 24 24h72v56c0 4.4 5.3 6.7 8.4 3.6L270 336h138c13.3 0 24-10.7 24-24V120c0-13.3-10.7-24-24-24z" />
      </svg>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="medium" (click)="mostrarMenuPerfil()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- PANEL ADMIN -->
  <ng-container *ngIf="segmento === 'admin' && rol === 'admin'">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Panel de Administración</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-button expand="block" color="success" (click)="irCrearAnuncio()">Crear nuevo anuncio</ion-button>
        <ion-button expand="block" color="warning" (click)="irGestionarReclamos()">
          Gestionar reclamos
          <ion-badge color="danger" *ngIf="reclamosPendientesCount > 0" style="margin-left:8px;">
            {{ reclamosPendientesCount }}
          </ion-badge>
        </ion-button>
        <ion-button expand="block" color="primary" (click)="irCrearUsuario()">Crear usuario</ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>



</ion-content>